/* Import roboto font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*,
*::before,
*::after{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    font-family: Roboto, sans-serif;
}
.header{
    display: flex;
    background-color: #1f2937;
    justify-content: space-around;
    align-items: center;
    padding: 16px;
}
.header h1{
    font-size: 24px;
    font-weight: 900;
    color:#f9faf8;
}
.header ul{
    display: flex;
    list-style-type: none;
    gap: 16px;
}
.header a{
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
}